.opening-page1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.opening-page1-opening-page1 {
  width: 100%;
  height: 852px;
  display: flex;
  position: relative;
  background: linear-gradient(0deg, rgba(169, 168, 220, 1) 0%, rgba(108, 105, 255, 1) 62%, rgba(65, 63, 153, 1) 100%);
  align-items: flex-start;
  flex-shrink: 0;
}
.opening-page1-text {
  top: 56px;
  left: 325px;
  color: rgba(195, 201, 255, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: center;
  font-family: VT323;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.opening-page1-text02 {
  top: 426px;
  left: 32px;
  color: rgba(230, 232, 255, 1);
  width: 328px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: VT323;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.opening-page1-text08 {
  top: 234px;
  left: 68px;
  color: rgba(195, 201, 255, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Regular;
  text-align: center;
  font-family: VT323;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.opening-page1-text10 {
  top: 687px;
  left: 146px;
  color: rgba(195, 201, 255, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: center;
  font-family: VT323;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.opening-page1-serve-quest {
  top: 301px;
  left: 8px;
  width: 378px;
  height: 87px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.opening-page1-text14 {
  color: rgba(255, 220, 188, 1);
  width: 378px;
  height: auto;
  position: absolute;
  font-size: 60px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Regular;
  text-align: center;
  font-family: Cherry Bomb One;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
