.character-creation-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.character-creation-name-creation {
  width: 100%;
  left: 500px;
  height: 1532px;
  display: flex;
  overflow: hidden;
  position: relative;
  background: linear-gradient(0deg, rgba(169, 168, 220, 1) 0%, rgba(108, 105, 255, 1) 62%, rgba(65, 63, 153, 1) 100%);
  align-items: center;
  flex-shrink: 0;
  justify-content: flex-end;
}
.character-creation-select {
  top: 285px;
  right: 640px;
  position: absolute;
}
.character-creation-wildboarwhitebg1 {
  top: 353px;
  left: 109px;
  width: 192px;
  height: 184px;
  position: absolute;
  border-width: 0px;
}
.character-creation-lizardbg1 {
  top: 336px;
  right: 123px;
  width: 203px;
  height: 200px;
  position: absolute;
}
.character-creation-textinput {
  right: 679px;
  bottom: 331px;
  position: absolute;
  font-size: 20px;
  font-family: "VT323";
}
.character-creation-aow-dropdown {
  top: 957px;
  left: 800px;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  border-radius: var(--dl-radius-radius-radius2);
}
.character-creation-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.character-creation-dropdown-arrow {
  transition: 0.3s;
}
.character-creation-icon {
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.character-creation-text {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-family: "VT323";
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
}
.character-creation-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  list-style-position: inside;
}
.character-creation-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.character-creation-dropdown-toggle01 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.character-creation-dropdown-toggle01:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.character-creation-text01 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-family: "VT323";
  font-weight: 500;
}
.character-creation-dropdown01 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.character-creation-dropdown-toggle02 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.character-creation-dropdown-toggle02:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.character-creation-text02 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-family: "VT323";
  font-weight: 500;
}
.character-creation-dropdown02 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.character-creation-dropdown-toggle03 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.character-creation-dropdown-toggle03:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.character-creation-text03 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-family: "VT323";
  font-weight: 500;
}
.character-creation-dropdown03 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.character-creation-dropdown-toggle04 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.character-creation-dropdown-toggle04:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.character-creation-text04 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-family: "VT323";
  font-weight: 500;
}
.character-creation-dropdown04 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.character-creation-dropdown-toggle05 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.character-creation-dropdown-toggle05:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.character-creation-text05 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-family: "VT323";
  font-weight: 500;
}
.character-creation-aoi-dropdown {
  top: 960px;
  left: 465px;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  border-radius: var(--dl-radius-radius-radius2);
}
.character-creation-dropdown-toggle06 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.character-creation-dropdown-arrow1 {
  transition: 0.3s;
}
.character-creation-icon2 {
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.character-creation-text06 {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-family: "VT323";
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
}
.character-creation-dropdown-list1 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  list-style-position: inside;
}
.character-creation-dropdown05 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.character-creation-dropdown-toggle07 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.character-creation-dropdown-toggle07:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.character-creation-text07 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-family: "VT323";
  font-weight: 500;
}
.character-creation-dropdown06 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.character-creation-dropdown-toggle08 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.character-creation-dropdown-toggle08:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.character-creation-text08 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-family: "VT323";
  font-weight: 500;
}
.character-creation-dropdown07 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.character-creation-dropdown-toggle09 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.character-creation-dropdown-toggle09:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.character-creation-text09 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-family: "VT323";
  font-weight: 500;
}
.character-creation-dropdown08 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.character-creation-dropdown-toggle10 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.character-creation-dropdown-toggle10:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.character-creation-text10 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-family: "VT323";
  font-weight: 500;
}
.character-creation-dropdown09 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.character-creation-dropdown-toggle11 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.character-creation-dropdown-toggle11:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.character-creation-text11 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-family: "VT323";
  font-weight: 500;
}
.character-creation-sign-up-button {
  gap: 8px;
  left: 585px;
  width: 289px;
  bottom: 233px;
  height: 45px;
  margin: auto;
  display: flex;
  padding: 0 16px;
  position: absolute;
  font-size: 25px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  font-family: "VT323";
  border-radius: 8px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(119, 140, 205, 1);
}
.character-creation-text12 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-style: Regular;
  text-align: left;
  font-family: VT323;
  font-weight: 400;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.character-creation-text14 {
  top: 284px;
  left: 207px;
  color: rgb(255, 255, 255);
  width: auto;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 45px;
  font-style: Regular;
  text-align: center;
  font-family: "VT323";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  letter-spacing: auto;
  text-decoration: none;
}
.character-creation-text17 {
  top: 8px;
  left: 0px;
  color: rgb(255, 220, 188);
  right: 0px;
  width: auto;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 90px;
  align-self: center;
  font-style: Regular;
  text-align: center;
  font-family: "Cherry Bomb One";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.character-creation-text18 {
  top: 882px;
  left: 0px;
  color: rgb(255, 255, 255);
  right: 0px;
  width: 450px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 45px;
  font-style: Regular;
  text-align: center;
  font-family: "VT323";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.character-creation-text19 {
  top: 630px;
  left: 34px;
  color: rgb(255, 255, 255);
  width: auto;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: center;
  font-family: "VT323";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.character-creation-text25 {
  top: 630px;
  left: 0px;
  color: rgb(255, 255, 255);
  right: 0px;
  width: 300px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: center;
  font-family: "VT323";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.character-creation-text29 {
  top: 630px;
  color: rgb(255, 255, 255);
  right: 68px;
  width: 300px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: center;
  font-family: "VT323";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.character-creation-boar {
  top: 550px;
  left: 153px;
  color: rgb(255, 255, 255);
  width: 272px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 34px;
  font-style: Regular;
  text-align: left;
  font-family: "VT323";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.character-creation-bird {
  top: 550px;
  left: 0px;
  color: rgb(255, 255, 255);
  right: 0px;
  width: 272px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 34px;
  font-style: Regular;
  text-align: center;
  font-family: "VT323";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.character-creation-lizard {
  top: 550px;
  color: rgb(255, 255, 255);
  right: 58px;
  width: 272px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 34px;
  font-style: Regular;
  text-align: left;
  font-family: "VT323";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.character-creation-text35 {
  top: 1105px;
  color: rgb(255, 255, 255);
  right: 690px;
  width: auto;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: "VT323";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.character-creation-myna-bird-spritebg2 {
  top: 342px;
  flex: 1;
  left: 0px;
  right: 0px;
  width: 193px;
  height: 222px;
  margin: auto;
  z-index: 100;
  position: absolute;
}
.character-creation-dropdown-list.visible,
.character-creation-dropdown-list1.visible {
  display: flex; /* or block, depending on your design */
}

