.character-creation-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.character-creation-name-creation {
  width: 100%;
  height: 1158px;
  display: flex;
  overflow: hidden;
  position: relative;
  background: linear-gradient(0deg, rgba(169, 168, 220, 1) 0%, rgba(108, 105, 255, 1) 62%, rgba(65, 63, 153, 1) 100%);
  align-items: center;
  flex-shrink: 0;
  justify-content: flex-end;
}
.character-creation-wildboarwhitebg1 {
  top: 353px;
  left: 109px;
  width: 192px;
  height: 184px;
  position: absolute;
}
.character-creation-lizardbg1 {
  top: 336px;
  right: 123px;
  width: 203px;
  height: 200px;
  position: absolute;
}
.character-creation-sign-up-button {
  gap: 8px;
  left: 0px;
  right: 0px;
  width: 289px;
  bottom: 32px;
  height: 45px;
  margin: auto;
  display: flex;
  padding: 0 16px;
  position: absolute;
  font-size: 25px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  font-family: "VT323";
  border-radius: 8px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(119, 140, 205, 1);
}
.character-creation-text {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: VT323;
  font-weight: 400;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.character-creation-textinput {
  top: 202px;
  left: 0px;
  right: 0px;
  width: 631px;
  height: 43px;
  margin: auto;
  position: absolute;
  font-size: 25px;
  font-family: "VT323";
}
.character-creation-text02 {
  top: 279px;
  left: 0px;
  color: rgb(255, 255, 255);
  right: 0px;
  width: auto;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 45px;
  font-style: Regular;
  text-align: center;
  font-family: "VT323";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  letter-spacing: auto;
  text-decoration: none;
}
.character-creation-text05 {
  top: 8px;
  left: 0px;
  color: rgb(255, 220, 188);
  right: 0px;
  width: auto;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 90px;
  align-self: center;
  font-style: Regular;
  text-align: center;
  font-family: "Cherry Bomb One";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  animation-name: swing;
  animation-delay: 0s;
  text-decoration: none;
  animation-duration: 300ms;
  animation-direction: alternate-reverse;
  animation-iteration-count: 5;
  animation-timing-function: ease;
}
.character-creation-text06 {
  top: 114px;
  left: 0px;
  color: rgb(255, 255, 255);
  right: 0px;
  width: auto;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 45px;
  font-style: Regular;
  text-align: center;
  font-family: "VT323";
  font-weight: 400;
  line-height: 150%;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 0px;
  font-stretch: normal;
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
}
.character-creation-text07 {
  top: 828px;
  left: 0px;
  color: rgb(255, 255, 255);
  right: 0px;
  width: 450px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 45px;
  font-style: Regular;
  text-align: center;
  font-family: "VT323";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.character-creation-text08 {
  top: 941px;
  left: 88px;
  color: rgba(255, 255, 255, 1);
  width: 272px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: VT323;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.character-creation-text10 {
  top: 630px;
  left: 34px;
  color: rgb(255, 255, 255);
  width: auto;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: center;
  font-family: "VT323";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.character-creation-text16 {
  top: 630px;
  left: 0px;
  color: rgb(255, 255, 255);
  right: 0px;
  width: 300px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: center;
  font-family: "VT323";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.character-creation-text20 {
  top: 630px;
  color: rgb(255, 255, 255);
  right: 68px;
  width: 300px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: center;
  font-family: "VT323";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.character-creation-text26 {
  top: 941px;
  left: 514px;
  color: rgb(255, 255, 255);
  width: auto;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 25px;
  align-self: flex-end;
  font-style: Regular;
  font-family: "VT323";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.character-creation-text27 {
  top: 942px;
  color: rgb(255, 255, 255);
  right: 104px;
  width: auto;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: "VT323";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.character-creation-email-field {
  gap: 16px;
  left: 0px;
  right: 0px;
  width: 327px;
  bottom: 122px;
  height: 45px;
  margin: auto;
  display: flex;
  padding: 8px 16px;
  position: absolute;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(223, 223, 223, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.character-creation-text28 {
  color: rgb(130, 130, 130);
  height: auto;
  flex-grow: 1;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: "VT323";
  font-weight: 400;
  line-height: 140%;
  font-stretch: normal;
  text-decoration: none;
}
.character-creation-email-field1 {
  gap: 16px;
  right: 65px;
  width: 327px;
  bottom: 126px;
  height: 45px;
  margin: auto;
  display: flex;
  padding: 8px 16px;
  position: absolute;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(223, 223, 223, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.character-creation-text29 {
  color: rgb(130, 130, 130);
  height: auto;
  flex-grow: 1;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: "VT323";
  font-weight: 400;
  line-height: 140%;
  font-stretch: normal;
  text-decoration: none;
}
.character-creation-email-field2 {
  gap: 16px;
  left: 65px;
  width: 327px;
  bottom: 123px;
  height: 45px;
  margin: auto;
  display: flex;
  padding: 8px 16px;
  position: absolute;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(223, 223, 223, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.character-creation-text30 {
  color: rgb(130, 130, 130);
  height: auto;
  flex-grow: 1;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: "VT323";
  font-weight: 400;
  line-height: 140%;
  font-stretch: normal;
  text-decoration: none;
}
.character-creation-text31 {
  top: 550px;
  left: 153px;
  color: rgb(255, 255, 255);
  width: 272px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 34px;
  font-style: Regular;
  text-align: left;
  font-family: "VT323";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.character-creation-text32 {
  top: 550px;
  left: 0px;
  color: rgb(255, 255, 255);
  right: 0px;
  width: 272px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 34px;
  font-style: Regular;
  text-align: center;
  font-family: "VT323";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.character-creation-myna-bird-spritebg2 {
  top: 342px;
  flex: 1;
  left: 0px;
  right: 0px;
  width: 193px;
  height: 222px;
  margin: auto;
  z-index: 100;
  position: absolute;
}
.character-creation-text33 {
  top: 550px;
  color: rgb(255, 255, 255);
  right: 58px;
  width: 272px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 34px;
  font-style: Regular;
  text-align: left;
  font-family: "VT323";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
