.landing-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.landing-page-opening-page1 {
  width: 100%;
  height: 2966px;
  display: flex;
  position: relative;
  background: linear-gradient(0deg, rgba(169, 168, 220, 1) 0%, rgba(108, 105, 255, 1) 62%, rgba(65, 63, 153, 1) 100%);
  align-items: flex-end;
  flex-shrink: 0;
  justify-content: center;
}
.landing-page-text {
  top: 642px;
  left: 0px;
  color: rgb(230, 232, 255);
  right: 0px;
  width: auto;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: center;
  font-family: "VT323";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-text05 {
  top: 239px;
  left: 0px;
  color: rgb(195, 201, 255);
  right: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 64px;
  font-style: Regular;
  text-align: center;
  font-family: "VT323";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-text06 {
  top: 364px;
  left: 0px;
  color: rgb(255, 220, 188);
  right: 0px;
  width: auto;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 140px;
  align-self: center;
  font-style: Regular;
  text-align: center;
  font-family: "Cherry Bomb One";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-icon {
  width: 24px;
  height: 24px;
}
.landing-page-text07 {
  top: 1312px;
  left: 176px;
  color: rgb(255, 255, 255);
  width: auto;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  font-family: "VT323";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
  margin-left: 100px;
}
.landing-page-image4 {
  top: 1600px;
  left: 0px;
  width: 150px;
  height: 142px;
  position: absolute;
  margin-left: 400px;
}
.landing-page-myna-bird-spritebg2 {
  top: 967px;
  left: 362px;
  width: 163px;
  height: 242px;
  margin: auto;
  position: absolute;
  margin-left: 150px;
}
.landing-page-container1 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.landing-page-text11 {
  top: 1620px;
  color: rgb(255, 255, 255);
  right: 0px;
  width: auto;
  height: auto;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  font-family: "VT323";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  margin-right: 150px;
  text-decoration: none;
}
.landing-page-button {
  top: 62px;
  right: 0px;
  width: 136px;
  height: 52px;
  position: absolute;
  font-size: 25px;
  margin-top: auto;
  font-family: "VT323";
  margin-left: auto;
  border-width: 0px;
  margin-right: 250px;
  margin-bottom: auto;
  text-decoration: none;
  text-align: center;
}
.landing-page-button1 {
  top: 62px;
  right: 0px;
  width: 136px;
  height: 52px;
  margin: auto;
  position: absolute;
  font-size: 25px;
  font-family: "VT323";
  border-width: 0px;
  margin-right: 50px;
  text-decoration: none;
  text-align: center;
}
.landing-page-button2 {
  left: 0px;
  right: 0px;
  width: 358px;
  bottom: 253px;
  height: 59px;
  margin: auto;
  position: absolute;
  font-size: 25px;
  font-family: "VT323";
  border-width: 0px;
  text-decoration: none;
  text-align: center;
}
.landing-page-navlink {
  left: 0px;
  right: 0px;
  width: 358px;
  bottom: 363px;
  height: 59px;
  margin: auto;
  position: absolute;
  font-size: 25px;
  font-family: "VT323";
  border-width: 0px;
  text-decoration: none;
  text-align: center;
}
.landing-page-image5 {
  top: 1900px;
  right: 350px;
  width: 159px;
  height: 164px;
  position: absolute;
}
.landing-page-text21 {
  top: 2345px;
  left: 0px;
  color: rgb(255, 255, 255);
  right: 0px;
  width: auto;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 70px;
  font-style: Regular;
  text-align: center;
  font-family: "VT323";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-image3 {
  top: 1260px;
  left: 1150px;
  width: 47px;
  height: 45px;
  position: absolute;
}
.landing-page-text22 {
  top: 1041px;
  color: rgba(255, 255, 255, 1);
  right: 0px;
  width: auto;
  height: auto;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  font-family: VT323;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  margin-right: 200px;
  text-decoration: none;
}
.landing-page-text24 {
  top: 1294px;
  left: 1100px;
  color: rgba(195, 201, 255, 1);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: center;
  font-family: Pixelify Sans;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-text26 {
  top: 1252px;
  left: 1030px;
  color: rgba(195, 201, 255, 1);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: center;
  font-family: Pixelify Sans;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-lizardbg1 {
  top: 915px;
  left: 239px;
  width: 204px;
  height: 198px;
  position: absolute;
  margin-left: 150px;
}
.landing-page-image2 {
  top: 1285px;
  left: 950px;
  width: 214px;
  height: 201px;
  position: absolute;
  margin-right: 150px;
}
.landing-page-text28 {
  top: 1890px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  width: 600px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: center;
  font-family: VT323;
  font-weight: 400;
  line-height: 150%;
  margin-left: 200px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-image {
  top: 1018px;
  left: 204px;
  width: 200px;
  position: absolute;
  object-fit: cover;
  margin-left: 100px;
}
