.plaza-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.plaza-calendar {
  width: 100%;
  height: 1006px;
  display: flex;
  overflow: hidden;
  position: relative;
  background: linear-gradient(0deg, rgba(169, 168, 220, 1) 0%, rgba(108, 105, 255, 1) 62%, rgba(65, 63, 153, 1) 100%);
  align-items: flex-end;
  flex-shrink: 0;
  justify-content: flex-start;
}
.plaza-navbar-interactive {
  top: 32px;
  right: -2px;
  width: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.plaza-text {
  top: 26px;
  left: 84px;
  color: rgb(255, 220, 188);
  width: auto;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 30px;
  align-self: center;
  font-style: Regular;
  text-align: center;
  font-family: "Cherry Bomb One";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  animation-name: swing;
  animation-delay: 0s;
  text-decoration: none;
  animation-duration: 300ms;
  animation-direction: alternate-reverse;
  animation-iteration-count: 5;
  animation-timing-function: ease;
}
.plaza-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.plaza-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.plaza-navlink {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-family: "VT323";
  text-decoration: none;
}
.plaza-navlink1 {
  color: #ffffff;
  font-size: 30px;
  font-family: "VT323";
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.plaza-navlink2 {
  color: #ffffff;
  font-size: 30px;
  font-family: "VT323";
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.plaza-navlink3 {
  color: #ffffff;
  font-size: 30px;
  font-family: "VT323";
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.plaza-navlink4 {
  color: #ffffff;
  font-size: 30px;
  font-family: "VT323";
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.plaza-burger-menu {
  display: none;
}
.plaza-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.plaza-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.plaza-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.plaza-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.plaza-logo {
  height: 2rem;
}
.plaza-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.plaza-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.plaza-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.plaza-text01 {
  margin-bottom: var(--dl-space-space-unit);
}
.plaza-text02 {
  margin-bottom: var(--dl-space-space-unit);
}
.plaza-text03 {
  margin-bottom: var(--dl-space-space-unit);
}
.plaza-text04 {
  margin-bottom: var(--dl-space-space-unit);
}
.plaza-text05 {
  margin-bottom: var(--dl-space-space-unit);
}
.plaza-buttons {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.plaza-login {
  margin-right: var(--dl-space-space-twounits);
}
.plaza-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.plaza-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.plaza-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.plaza-text08 {
  top: 179px;
  left: 0px;
  color: rgb(195, 201, 255);
  right: 0px;
  width: auto;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 45px;
  font-style: Regular;
  text-align: center;
  font-family: "VT323";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.plaza-text09 {
  line-height: 100%;
  top: 80px;
}
.plaza-text10 {
  line-height: 100%;
}
.plaza-text11 {
  line-height: 100%;
}
.plaza-text13 {
  left: 0px;
  color: rgb(195, 201, 255);
  right: 0px;
  width: auto;
  bottom: 110px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 45px;
  font-style: Regular;
  text-align: center;
  font-family: "VT323";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.plaza-image {
  top: 350px;
  left: 108px;
  width: 200px;
  position: absolute;
  object-fit: cover;
}
.plaza-image1 {
  top: 350px;
  left: 0px;
  right: 0px;
  width: 200px;
  margin: auto;
  position: absolute;
  align-self: center;
  object-fit: cover;
}
.plaza-image2 {
  top: 350px;
  right: 96px;
  width: 200px;
  position: absolute;
  object-fit: cover;
}
.plaza-text16 {
  top: 560px;
  left: 130px;
  color: rgb(195, 201, 255);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 45px;
  font-style: Regular;
  text-align: center;
  font-family: "VT323";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.plaza-text17 {
  top: 560px;
  color: rgb(195, 201, 255);
  right: 151px;
  width: auto;
  height: auto;
  position: absolute;
  font-size: 45px;
  font-style: Regular;
  text-align: center;
  font-family: "VT323";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.plaza-text18 {
  top: 560px;
  left: 0px;
  color: rgb(195, 201, 255);
  right: 0px;
  width: auto;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 45px;
  font-style: Regular;
  text-align: center;
  font-family: "VT323";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.plaza-button {
  top: 690px;
  left: 0px;
  position: absolute;
  font-size: 24px;
  font-style: normal;
  font-family: "VT323";
  font-weight: 400;
  margin-left: 125px;
}
.plaza-button1 {
  top: 690px;
  left: 0px;
  right: 0px;
  width: 186px;
  margin: auto;
  position: absolute;
  font-size: 24px;
  font-style: normal;
  font-family: "VT323";
  font-weight: 400;
}
.plaza-button2 {
  top: 690px;
  right: 0px;
  position: absolute;
  font-size: 24px;
  font-style: normal;
  font-family: "VT323";
  font-weight: 400;
  margin-right: 115px;
}
.plaza-text19 {
  top: 610px;
  left: 172px;
  color: rgb(195, 201, 255);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 45px;
  font-style: Regular;
  text-align: center;
  font-family: "VT323";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.plaza-text20 {
  top: 610px;
  color: rgb(195, 201, 255);
  right: 168px;
  width: auto;
  height: auto;
  position: absolute;
  font-size: 45px;
  font-style: Regular;
  text-align: center;
  font-family: "VT323";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.plaza-text21 {
  top: 610px;
  left: 0px;
  color: rgb(195, 201, 255);
  right: 0px;
  width: auto;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 45px;
  font-style: Regular;
  text-align: center;
  font-family: "VT323";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.plaza-textinput {
  left: 150px;
  bottom: 66px;
  position: absolute;
  margin-left: 400px;
  font-family: "VT323";
}
.plaza-button3 {
  right: 150px;
  bottom: 62px;
  position: absolute;
  font-size: 24px;
  font-family: "VT323";
  margin-right: 400px;
}
.plaza-button4 {
  top: 760px;
  left: 0px;
  right: 0px;
  width: 208px;
  height: 49px;
  margin: auto;
  position: absolute;
  font-size: 24px;
  font-family: "VT323";
}
@media(max-width: 767px) {
  .plaza-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .plaza-desktop-menu {
    display: none;
  }
  .plaza-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .plaza-text01 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .plaza-text02 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .plaza-text03 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .plaza-text04 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .plaza-text05 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .plaza-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .plaza-desktop-menu {
    display: none;
  }
  .plaza-burger-menu {
    display: flex;
  }
  .plaza-mobile-menu {
    padding: 16px;
  }
}
